@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Roboto:wght@300;900&display=swap');

:root {
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
  font-family: 'Permanent Marker', cursive;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 60px;
}

.app h1 {
  margin-bottom: 40px;
}

.boxBtn {
  display: flex;
  gap: 20px;
  margin-bottom: 20px;
}